name: Lint

on:
  push:
    branches: [master, devel]
  pull_request:
    branches: [master, devel]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          architecture: 'x64'

      - name: Setup Poetry
        run: |
          pip install poetry
          poetry install

      - name: Check formatting with Black
        run: |
          poetry run black --check --diff --color .
      
      - name: Run flake8
        run: |
          poetry run flake8
      
      - name: Run bandit
        run: |
          poetry run bandit -r transponster
